CONTAINER_NAME=qbit
IMAGE=mhdzumair/qbittorrent-webdav:latest
RESTART_POLICY=unless-stopped

WEB_PORT=8080
TORRENT_PORT=6881

HTPASSWD_PATH=./data/.htpasswd
DOWNLOADS_PATH=./data/downloads
CONFIG_PATH=./data/config

NETWORK_NAME=media